@import "../styles//utility//variable.scss";

footer {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  background-color: $background-color;
}

#footer-left-image,
#footer-right-image {
  z-index: 2;
}

#footer-left-image {
  width: 200px;
  left: -100px;
  bottom: 0px;
}
#footer-right-image {
  width: 200px;
  right: -100px;
  bottom: 200px;
}

@media only screen and (min-width: 768px) {
  #footer-left-image {
    width: 300px;
    left: -100px;
    bottom: 0px;
  }
  #footer-right-image {
    width: 300px;
    right: -50px;
    bottom: -50px;
  }
}

@media only screen and (min-width: 1024px) {
  #footer-left-image {
    width: 440px;
    left: -160px;
    bottom: -100px;
  }

  #footer-right-image {
    width: 440px;
    right: -200px;
    bottom: -200px;
  }
}
